<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <%= require('html-loader!../../unit/layout/header.html') %>
  <title>7Ho奇货商城－创新电商平台_购新，购潮，购特别!</title>
</head>

<body>
  <div id="J_Topbar" class="topbar">
    <div class="logo"></div>
    <div id="J_Menuicon" class="menuicon">
      <span class="m-bread m-bread-top">
        <span class="m-bread-crust m-bread-crust-top"></span>
      </span>
      <span class="m-bread m-bread-bottom">
        <span class="m-bread-crust m-bread-crust-bottom"></span>
      </span>
    </div>
  </div>
  <div id="J_Sidebar" class="sidebar">
    <ul>
      <li data-index="0">
        <h3>首页</h3>
      </li>
      <li data-index="1">
        <h3>奇货客服</h3>
      </li>
      <li data-index="2">
        <h3>服务保障</h3>
      </li>
      <li data-index="4">
        <h3>成为供应商</h3>
      </li>
    </ul>
  </div>
  <div class="mask"></div>

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="//yun.duiba.com.cn/qiho-h5/protal/images/slide1-2.jpg"></div>
      <div class="swiper-slide"><img src="//yun.duiba.com.cn/qiho-h5/protal/images/qihuo02.jpg"></div>
      <div class="swiper-slide"><img src="//yun.duiba.com.cn/qiho-h5/protal/images/qihuo03.jpg"></div>
      <div class="swiper-slide"><img src="//yun.duiba.com.cn/qiho-h5/protal/images/qihuo04.jpg"></div>
      <div class="swiper-slide slide5">
        <div class="content content1">
          <h3>成为奇货供应商</h3>
          <span></span>
          <p>奇货一直在开发有吸引力的产品，同时也在寻求稳定可靠的供应商，携手共同打造爆款产品。如果您的产品极富吸引力和竞争力，那么我们非常期待与您联手共赢，请与我们联系！</p>
        </div>
        <div class="content content2">
          <h3>联系方法</h3>
          <span></span>
          <p>请提供如下资料至 gys@7ho.com</p>
          <p>1. 供应商全称，如：杭州百奇网络科技有限公司；</p>
          <p>2. 公司简介、经营类别、相关资质证明；</p>
          <p>3. 产品目录、报价等；</p>
          <p>4. 联络人、联系电话、邮箱、地址等。</p>
        </div>
        <p class="content-foot">浙ICP备17026398号-1</p>
      </div>
    </div>
  </div>

  <a javascript:; id="J_Downicon" class="down-icon">
    <i></i>
  </a>
  <%= require('html-loader!../../unit/layout/footer.html') %>
</body>

</html>