<!DOCTYPE html>
<html>

<head>
  <%= require('html-loader!../../../unit/layout/header.html') %>
  <title>清凉爆款1折特卖</title>
</head>

<body>
  <div class="top">
    <img src="//yun.duiba.com.cn/qiho-h5/images/rebuy/top.jpg">
  </div>
  <div class="icons">
    <a href="//m.51huaya.com/item/detail?id=17&skinId=6&channelId=chuchuang" class="icon"></a>
    <a href="//m.51huaya.com/item/detail?id=59&skinId=6&channelId=chuchuang" class="icon"></a>
    <a href="//m.51huaya.com/item/detail?id=48&skinId=6&channelId=chuchuang" class="icon"></a>
    <a href="//m.51huaya.com/item/detail?id=36&skinId=6&channelId=chuchuang" class="icon"></a>
    <a href="//m.51huaya.com/item/detail?id=58&skinId=6&channelId=chuchuang" class="icon"></a>
    <a href="//m.51huaya.com/item/detail?id=32&skinId=6&channelId=chuchuang" class="icon"></a>
  </div>
  <div class="menu-warp-ts"></div>
  <div class="menu-warp">
    <div class="menu">
      <div>
        <div>
          <a href="javascript:void(0);">插卡手表</a>
          <a href="javascript:void(0);">VR眼镜</a>
          <a href="javascript:void(0);">百变魔镜</a>
          <a href="javascript:void(0);">运动耳机</a>
          <a href="javascript:void(0);">钢炮音响</a>
          <a href="javascript:void(0);">龙头项链</a>
        </div>
      </div>
      <a href="javascript:void(0);" class="menu-more"></a>
    </div>
    <div class="menu2">
      <a href="javascript:void(0);">插卡手表</a>
      <a href="javascript:void(0);">VR眼镜</a>
      <a href="javascript:void(0);">百变魔镜</a>
      <a href="javascript:void(0);">运动耳机</a>
      <a href="javascript:void(0);">钢炮音响</a>
      <a href="javascript:void(0);">龙头项链</a>
    </div>
  </div>
  <div class="goods">
    <div class="good">
      <div class="good-title"></div>
      <a href="//m.51huaya.com/item/detail?id=17&skinId=6&channelId=liebiao" class="good-content">
        <div class="tag"></div>
      </a>
      <div class="good-foot">
        <div class="price"></div>
        <a href="//m.51huaya.com/item/detail?id=17&skinId=6&channelId=liebiao" class="btn">立即购买</a>
      </div>
    </div>
    <div class="good">
      <div class="good-title"></div>
      <a href="//m.51huaya.com/item/detail?id=59&skinId=6&channelId=liebiao" class="good-content">
        <div class="tag"></div>
      </a>
      <div class="good-foot">
        <div class="price"></div>
        <a href="//m.51huaya.com/item/detail?id=59&skinId=6&channelId=liebiao" class="btn">立即购买</a>
      </div>
    </div>
    <div class="good">
      <div class="good-title"></div>
      <a href="//m.51huaya.com/item/detail?id=48&skinId=6&channelId=liebiao" class="good-content">
        <div class="tag"></div>
      </a>
      <div class="good-foot">
        <div class="price"></div>
        <a href="//m.51huaya.com/item/detail?id=48&skinId=6&channelId=liebiao" class="btn">立即购买</a>
      </div>
    </div>
    <div class="good">
      <div class="good-title"></div>
      <a href="//m.51huaya.com/item/detail?id=36&skinId=6&channelId=liebiao" class="good-content">
        <div class="tag"></div>
      </a>
      <div class="good-foot">
        <div class="price"></div>
        <a href="//m.51huaya.com/item/detail?id=36&skinId=6&channelId=liebiao" class="btn">立即购买</a>
      </div>
    </div>
    <div class="good">
      <div class="good-title"></div>
      <a href="//m.51huaya.com/item/detail?id=58&skinId=6&channelId=liebiao" class="good-content">
        <div class="tag"></div>
      </a>
      <div class="good-foot">
        <div class="price"></div>
        <a href="//m.51huaya.com/item/detail?id=58&skinId=6&channelId=liebiao" class="btn">立即购买</a>
      </div>
    </div>
    <div class="good">
      <div class="good-title"></div>
      <a href="//m.51huaya.com/item/detail?id=32&skinId=6&channelId=liebiao" class="good-content">
        <div class="tag"></div>
      </a>
      <div class="good-foot">
        <div class="price"></div>
        <a href="//m.51huaya.com/item/detail?id=32&skinId=6&channelId=liebiao" class="btn">立即购买</a>
      </div>
    </div>
  </div>
  <%= require('html-loader!../../../unit/layout/footer.html') %>
</body>

</html>