<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <%= require('html-loader!../../unit/layout/header.html') %>
  <title>7Ho奇货商城－创新电商平台_购新，购潮，购特别!</title>
</head>
<body>
  <script type="text/javascript">
  
  </script>
  <div class="header">
    <a href="/" class="logo"></a>
    <div class="navbar">
      <a href="javascript:;" data-href="home" class="on">首页</a>
      <a href="javascript:;" data-href="kf">奇货客服</a>
      <a href="javascript:;" data-href="service">服务保障</a>
      <a href="javascript:;" data-href="beprovider">成为供应商</a>
      <span></span>
    </div>
  </div>

  <section class="fixed-bg banner" id="home" data-speed="8" data-type="background"></section>

  <div class="kf" id="kf">
    <div class="kf-cont">
      <div class="left">
        <p>奇货平台追求为用户创造惊喜式的购物体验。我们不断上架炫酷时尚的前沿好货，同时深度整合上游优质厂商，为用户带来极致性价比，并且全站商品支持货到付款，进一步简化在线购物流程。</p>
      </div>
      <div class="right"></div>
    </div>
  </div>

  <section class="fixed-bg banner2" data-speed="8" data-type="background" data-offsetY="280"></section>

  <div class="service" id="service">
    <ul>
      <li>
        <i class="icon-car"></i>
        <div>
          <h1>全场包邮、货到付款</h1>
          <h2>奇货支持全国绝大部分地区货到付款，<br> 先验货后付款，购物更轻松。（偏远地区除外，如新疆、西藏等）</h2>
        </div>
      </li>
      <li>
        <i class="icon-seven"></i>
        <div>
          <h1>7天无理由退换</h1>
          <h2>奇货严格遵守消费者权益保护法， <br>所有商品提供7天无理由退换货服务。</h2>
        </div>
      </li>
      <li>
        <i class="icon-knock"></i>
        <div>
          <h1>365*15小时客户服务</h1>
          <h2>在线客服、热线电话为消费者提供全天候服务， <br>每一个问题都将得到满意的答复。</h2>
        </div>
      </li>
      <li>
        <i class="icon-jiang"></i>
        <div>
          <h1>严格品控</h1>
          <h2>奇货平台对每个的供货商进行严格的资质审核，<br> 同时我们专业的品控团队还会针对所有商品进行无死角的全面审查。</h2>
        </div>
      </li>
    </ul>
  </div>

  <section class="fixed-bg banner3" data-speed="8" data-type="background" data-offsetY="500"></section>

  <div class="provider" id="beprovider">
    <div class="p-cont">
      <div class="p-left">
        <ul>
          <li>
            <h1>奇货平台优势</h1>
            <h2>海量用户：聚合数千家主流APP，流量场景多样，用户构成丰富。<br>精准匹配：利用大数据和人工智能，实现用户 和商品之间的最高效链接<br>爆款运营：汇集多个类目的资深运营专家，不断打造日销万单的超级爆款。</h2>
          </li>
          <li>
            <h1>成为奇货供应商</h1>
            <h2>奇货一直在开发有吸引力的产品，同时也在寻求稳定可靠的供应商，携手<br>共同打造爆款产品。如果您的产品极富吸引力和竞争力，那么我们非常期<br>待与您联手共赢，请与我们联系！</h2>
          </li>
          <li>
            <h1>联系方法</h1>
            <h2>请提供如下资料至我们指定的邮箱: gys@7ho.com<br>1. 供应商全称，如：杭州百奇网络科技有限公司；<br>2. 公司简介、经营类别、相关资质证明；<br>3. 产品目录、报价等；<br>4. 联络人、联系电话、邮箱、地址等。</h2>
          </li>
        </ul>
      </div>
      <div class="p-right"></div>
    </div>
  </div>
  <input type="hidden" id="index" value="home"/>
  <div class="footer">浙ICP备17026398号-1</div>
  <%= require('html-loader!../../unit/layout/footer.html') %>
</body>
</html>